section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeButtons {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    flex-wrap: wrap;

    >a {
        width: fit-content;
        padding: 0.2vw 2vw;
    }
}