#caseIndex {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
}

#caseIndex h1 {
    padding: 1vw 20vw;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

#caseContainer {
    display: flex;
    flex-flow: row wrap;
    gap: 1vh;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
}