* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --pink: #f3307e;
  --lightBlue: #2989bc;
  --lightBlueDot: #2d8fc2;
  --mediumBlue: #2f5086;
  --darkBlue: #070e21;
  --darkBlueDot: #1e2538;
  --green: #1ee024;
  --lightYellow: #ffc31e;
  --darkYellow: #403016;
  --offWhite: #f7f6f2;
  --cream: #f1ede3;
}

@font-face {
  font-family: 'Attorney';
  src: url("../public/AA-font.otf");
  font-weight: normal;
  font-style: normal;
}

body {
  min-height: 100vh;
  height: max-content;
  max-width: 100vw;
  contain: paint;
  color: var(--offWhite);
  padding-left: calc(100vw - 100%);
  font-family: 'Attorney', serif;
  font-size: 1.4vw;

  background-image:
          radial-gradient(var(--darkBlueDot) 20%, transparent 20%),
          radial-gradient(var(--darkBlueDot) 20%, transparent 20%);
  background-position: 0 0, 4px 4px;
  background-size: 8px 8px;
  background-color: var(--darkBlue);
}

main {
  color: black;
  min-height: 80vh;
  width: 75vw;
  padding: 0.5vw;
  margin: auto auto 2vh;
  border: 2px solid var(--cream);

  background-image:
          radial-gradient(var(--lightBlueDot) 40%, transparent 40%),
          radial-gradient(var(--lightBlueDot) 40%, transparent 40%);
  background-position: 0 0, 4px 4px;
  background-size: 8px 8px;
  background-color: var(--lightBlue);
}

.highlight {
  background-color: var(--lightYellow);
  padding: 0 1vw;
}
